<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forwird</title>
  <link rel='icon' type='image/x-icon' href='./favicon.ico' />
  <link href="https://fonts.googleapis.com/css?family=Alegreya:400" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='/styles.css' />
</head>

<body>
  {{#if message }}
  <div class='sticker'>
    <p>{{message}}</p>
  </div>
  {{/if}}
  <main>
    <svg id="island" data-name="island" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 354.25 376.86">
      <defs>
        <style>
          .cls-1 {
            fill: #e1d89f
          }

          .cls-2 {
            fill: #cacaaa
          }

          .cls-3 {
            fill: #273043
          }

          .cls-4 {
            fill: #79b473
          }

          .cls-5 {
            fill: #ffff82
          }

          .cls-6,
          .cls-9 {
            fill: none;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-width: 3.33px
          }

          .cls-6 {
            stroke: #ffbc42
          }

          .cls-7 {
            fill: #e5e276
          }

          .cls-8 {
            fill: #f4ee7f
          }

          .cls-9 {
            stroke: #f6921e
          }

          .cls-10 {
            fill: #fff275
          }

          .cls-11 {
            fill: #ffbc42
          }

          .cls-12 {
            opacity: .1
          }

          .cls-13 {
            fill: #fff
          }

          .sclera {
            fill: #fdfffc
          }

          .pupil {
            fill: #273043
          }
        </style>
      </defs>
      <title>forwirdie on floating island</title>
      <path class="cls-1" d="M246.94 342.94l-68.53-128.51h137.06l-68.53 128.51z" />
      <path class="cls-1" d="M106.98 342.56L32.91 214.25h148.15l-74.08 128.31z" />
      <path class="cls-1" d="M181.06 376.86l-74.08-162.33h148.16l-74.08 162.33z" />
      <path class="cls-2" d="M135.66 317.13L98.51 214.25h74.3l-37.15 102.88zm85.49 11.06l-41.14-113.94h82.29l-41.15 113.94z" />
      <path class="cls-2" d="M181.06 303.81l-32.34-89.56h64.68l-32.34 89.56z" />
      <path class="cls-2" d="M160.75 284.89l-23.87-66.09h47.73l-23.86 66.09zm95.85-10.33l-21.64-59.93h43.28l-21.64 59.93zM96.84 284.71L71.4 214.25h50.88l-25.44 70.46z"
      />
      <path class="cls-3" d="M122.28 258.35l-15.92-44.1h31.85l-15.93 44.1z" />
      <path class="cls-3" d="M147.56 275.88l-22.25-61.63h44.5l-22.25 61.63zm76.2 18.37l-26.29-79.62 56.4-1.38-30.11 81z" />
      <path class="cls-3" d="M185.47 256.3l-13.64-41.29 29.25-.71-15.61 42z" />
      <path class="cls-3" d="M169.19 240.81l-8.69-26.3 18.63-.46-9.94 26.76zm33.72 28.25l-17.79-53.88 38.17-.93-20.38 54.81z" />
      <path class="cls-4" d="M51.83 204.86h16.44v24.58H51.83z" />
      <path class="cls-4" d="M68.08 208.57h16.44v12.29H68.08z" />
      <path class="cls-4" d="M84.32 198.4h8.22v40.16h-8.22zM266.75 211h16.44v12.29h-16.44zm-26.49-7.85h16.44v24.58h-16.44z" />
      <path class="cls-4" d="M256.51 206.86h16.44v12.29h-16.44zm26.6 3.71h16.44v34.03h-16.44zm-82.31.43h16.44v12.29H200.8zm-61.59-2.31h9.5v22.2h-9.5z"
      />
      <path class="cls-4" d="M120.75 197.47h19v22.2h-19zM187.8 205h16.44v12.29H187.8z" />
      <path class="cls-4" d="M27.4 190.14h293.91v24.29H27.4z" />
      <path class="cls-5" d="M44.27 240.63c-.84-4.9.84-8.84 5.26-11.24 3.15-1.72 6.34-1.83 7.8-5.46a6.83 6.83 0 0 0 .19-4.83c-.9 2.29-2.55 7.33-7.21 6.66 5.29-.66 5.69-8.62 7.37-12.44 2-4.19 5.9-6.35 11.59-6 2.58.17 5.9.93 8.3-1.42-3.1 3-6.43 2.57-9 4-2.53 1.29-4.05 4-4.83 6.77-1 3.66-1.23 6.2-2.34 9.28-1.54 4.29-5.72 5.34-9.44 6.91-3.28 1.38-7.81 4.1-7.68 7.72M115 134.64c-2.28 3.69-5.63 4-7.79 6.07-2.15 1.86-3 4.89-3.05 7.73-.13 3.81.29 6.32 0 9.57-.46 4.53-4.27 6.56-7.5 9-2.85 2.12-6.6 5.86-5.59 9.34-2-4.55-1.31-8.78 2.4-12.18 2.65-2.43 5.71-3.3 6.26-7.18a6.83 6.83 0 0 0-1-4.73c-.32 2.44-.71 7.73-5.4 8.2 5-1.91 3.45-9.74 4.16-13.85.9-4.54 4.2-7.58 9.81-8.58 2.48-.48 5.89-.54 7.7-3.39zM147.4 6.35c-4.06 1.52-6.92-.25-9.88 0s-5.34 2.06-7.15 4.24c-2.43 2.93-3.64 5.18-5.89 7.54-3.14 3.3-7.39 2.57-11.43 2.5-3.55-.06-8.8.59-10.14 4 1.21-4.82 4.34-7.74 9.35-8.16 3.58-.3 6.54.89 9.34-1.84a6.83 6.83 0 0 0 2.12-4.34C122 12 118.44 16 114.45 13.47c5.1 1.53 8.69-5.59 11.77-8.4 3.49-3 8-3.42 13-.78 2.31 1.2 5.04 3.24 8.18 2.06zM105.16 86.3a14.7 14.7 0 0 0-4 4.14c-1.72 2.65-1.71 4.66-2 6.81-.16 1.23-.48 3.07-1.31 3.89a7.94 7.94 0 0 0 3.1-3.9 5.68 5.68 0 0 1-1 2.87 7.78 7.78 0 0 0 3.32-6.51c.6.13.49 1.11.08 1.82a4.22 4.22 0 0 0 1.15-3.11 11.45 11.45 0 0 1 2.5-7.54 15.08 15.08 0 0 0-1.84 1.53zm-33.43 35.07a14.7 14.7 0 0 0-1.15 5.63c0 3.16 1.07 4.85 2 6.83.53 1.12 1.24 2.85 1 4a7.94 7.94 0 0 0 .52-5 5.68 5.68 0 0 1 .67 3 7.78 7.78 0 0 0-.7-7.28c.58-.21 1 .67 1.05 1.49a4.22 4.22 0 0 0-.71-3.24 11.45 11.45 0 0 1-1.92-7.72 15.08 15.08 0 0 0-.76 2.29zm39.76 133.85c3.66-2.32 6.83-1.17 9.66-2s4.8-3.1 6.13-5.61c1.78-3.37 2.5-5.81 4.22-8.58 2.4-3.87 6.71-4 10.68-4.78 3.49-.66 8.5-2.38 9.12-5.95-.2 5-2.67 8.47-7.49 9.9-3.44 1-6.58.46-8.77 3.71a6.83 6.83 0 0 0-1.19 4.68c1.36-2.05 4-6.64 8.44-5-5.31-.46-7.36 7.24-9.81 10.62-2.8 3.69-7.09 5-12.58 3.42-2.49-.76-5.58-2.2-8.41-.41z"
      />
      <path class="cls-6" d="M211.46 176.32l1.15 8.88 3.23 9.74" />
      <path class="cls-6" d="M205.85 194.94l6.76-9.74 11.11 5.96" />
      <path class="cls-7" d="M128.88 61.31c-.78 1.35-10.45 10.79-25.11 8.57 4.22-.2 9.56-4.37 13-7.31 6-5.06 10.89-10.53 22-13.5A53.56 53.56 0 0 1 161 47.81c-7.52 1.37-16 3.19-25.67 13.26a15.31 15.31 0 0 1-10.86 5.21c2.89-.84 5.65-3.1 4.41-4.97z"
      />
      <path class="cls-8" d="M122 57.73c-.78 1.35-10.45 10.79-25.11 8.57 4.22-.2 9.56-4.37 13-7.31 6-5.06 10.89-10.53 22-13.5a53.56 53.56 0 0 1 22.31-1.26c-7.52 1.37-16 3.19-25.67 13.26a15.31 15.31 0 0 1-10.86 5.21c2.76-.84 5.52-3.1 4.33-4.97z"
      />
      <path class="cls-5" d="M120.77 51.08c-1.06 1.15-12.58 8.22-26.38 2.81 4.16.74 10.29-2.15 14.27-4.26 7-3.6 13-7.87 24.4-8.32a53.56 53.56 0 0 1 22 3.69c-7.63-.32-16.35-.43-28 7.26A15.31 15.31 0 0 1 115.39 55c2.99-.23 6.18-1.82 5.38-3.92z"
      />
      <path class="cls-5" d="M152 47.64q-1.6-2.26-3.18-4.54a44.34 44.34 0 0 0-5.38-.71 23.56 23.56 0 0 0-5 .44 14.34 14.34 0 0 0-2.16 1.52c-4.18 3.59-2.93 7.72-2.1 12.9a10.43 10.43 0 0 1-1.53 7.17 9.43 9.43 0 0 1-7 4.19c6.55 3 15.12-2.33 13-8.16a4.65 4.65 0 0 1 .12 5.08c-4 8.53-19.7 2-20.54 13.08 1.14-3 5.11-3.57 8.21-3.35h-.38a10.54 10.54 0 0 0-4.89 3c-3 3.06-2.65 6-2.16 10a5.39 5.39 0 0 1-1.68 4.88 9.89 9.89 0 0 1-2.83 1.52 7.26 7.26 0 0 0 5.71-2.39c1.79-2.24 1.18-5.67 3.14-7.54s5.14-.85 5.34 1.71c.17 2.18-3 4.33-4.89 5.44-5.07 2.93-7.35 6.62-7.22 11.52.22 8.3 9 21.14-2.73 25.14 4.28-.31 9.91-2.76 12.29-6.06 2.23-3.37 1.89-6.9 1.29-10.71-.55-3.46-1.65-8.42 1-11 3.58-3.5 8.38.12 8.44 4.36.17 3.47-3 6.33-5.75 8.19l.22-.08c6.42-2.58 12-6.3 12.38-13.28s-4.85-13.24-5.91-20.28c-.58-3.79.89-6.31 3.46-8.58-1.73 3.74-.86 7.14.73 10.34 1.15 2.39 4.26 6.5 6.87 7.5l.23.06a12.72 12.72 0 0 1-4.35-8c-.5-5.55 2.91-8.77 6.71-12.34 2.7-2.52 6.15-6.18 6-10.49a19.24 19.24 0 0 0-2.09-5.17 59.73 59.73 0 0 0-3.37-5.36z"
      />
      <path class="cls-5" d="M150.17 79.59q-2.26-1.6-4.51-3.23a44.34 44.34 0 0 0-5.31 1.11 23.56 23.56 0 0 0-4.58 2.08 14.34 14.34 0 0 0-1.53 2.15c-2.75 4.78-.2 8.25 2.3 12.87a10.43 10.43 0 0 1 .94 7.27 9.43 9.43 0 0 1-5.24 6.28c7.18.65 13.49-7.22 9.6-12a4.65 4.65 0 0 1 1.8 4.75c-1 9.38-17.9 8.46-15 19.16.09-3.18 3.63-5.06 6.63-5.89l-.35.14a10.54 10.54 0 0 0-3.62 4.45c-1.85 3.89-.52 6.51 1.3 10.19a5.39 5.39 0 0 1 0 5.16 9.89 9.89 0 0 1-2.16 2.37 7.26 7.26 0 0 0 4.59-4.15c.95-2.7-.77-5.74.46-8.15 1.32-2.58 4.57-2.5 5.6-.15.88 2-1.36 5.06-2.81 6.75-3.81 4.45-4.73 8.68-3 13.26 3 7.75 15.53 16.95 5.76 24.62 3.93-1.71 8.43-5.89 9.59-9.8 1-3.92-.51-7.14-2.34-10.53-1.66-3.08-4.35-7.4-2.69-10.69 2.22-4.49 7.94-2.67 9.41 1.32 1.31 3.22-.71 7-2.71 9.63l.18-.15c5.2-4.56 9.19-9.91 7.27-16.64-1.91-6.88-9-10.88-12.31-17.16-1.8-3.39-1.26-6.25.42-9.24-.4 4.1 1.56 7 4.12 9.51 1.87 1.87 6.17 4.72 9 4.79l.18-.15a12.72 12.72 0 0 1-6.77-6.12c-2.31-5.07-.16-9.23 2.23-13.87 1.71-3.27 3.75-7.87 2.19-11.89a19.24 19.24 0 0 0-3.66-4.11 59.73 59.73 0 0 0-4.98-3.94zM191.63 181c-3.6 3.07-9.34 1.63-13-.23-10.64-5.32-18.12-13.67-29.27-11.64-13.95 2.55-13.44 12.89-24 16.22 4.65.66 9.42-4.65 13.68-5.42 4.44-.81 9.13-.42 11.16 2.69-2.69-2.69-6.86-2.16-10.29-1.51-5.28.9-8.47 4.47-12.92 7a12.89 12.89 0 0 1-7.24 1.43C116.1 189.42 112 187 112 184c-.53 5.5 5.73 10.1 8.64 11 4.92 1.59 10.28 1.48 14.67-1.2l.12-.26c-2.94 3.68-7.76 5-12.45 4.63-4.87-.32-9.55-1.46-14.37-2.24-4.9-1-8.64-.09-13.16 1.78-6.27 2.57-16.45 14.07-12.19 27.19.67-13.44 15.79-21.55 31.37-17.54-7.31 2.78-9.9 9.71-8.7 16.35-.77-5.52 5.88-10.81 13.45-11.93 6.36-.88 13.2 2.36 19.44 1.73 5.68-.41 9-4.24 12.6-7.95 2.89-3.23 10.77-7.41 11.92-.39 1.08 6.55-9.57 9.61-14.27 6.86 7.39 4.72 19 1.05 20.36-6.77a9.35 9.35 0 0 1-5.29 7.79c-9.78 5.6-24.46-2.44-30.46 10.35 4.75-5.58 11.48-4.13 18.1-3.18 10.36 1.7 22.51 3.52 30.49-5.22 4.14-4.55 6.63-10.55 8.2-16.73a65.49 65.49 0 0 0 1.87-17.73z"
      />
      <path class="cls-5" d="M134.8 101c-5.74-34.64 18.78-74.87 54.15-101-1.2 12.26 38.56 28.61 48.94 52.19s24.52 87.7-52 149.49c-.01 0-42.89-51.42-51.09-100.68z"
      />
      <path class="cls-10" d="M235.6 140.85c17.8-39.12 9.21-72.92 2.28-88.66a48.4 48.4 0 0 0-8.8-12.87c-10.78 30.5-3.44 76.8 6.52 101.53zm-91.73-88.58c3.85 22.38 21.29 39.2 42.87-7.74 0 0 22.77 24.42 38-9.6C209.32 20.25 188.06 9 188.95 0c-19.33 14.29-35.4 32.79-45.08 52.27z"
      />
      <path class="cls-11" d="M202.62 16.84c-8.1-6.4-14.16-11.95-13.68-16.84a163 163 0 0 0-22.4 20c9.4 5.67 22.95 7.5 36.08-3.16z"
      />
      <path class="cls-11" d="M202.62 16.84c-8.1-6.4-14.16-11.95-13.68-16.84-6.34 8.85-7.76 16.12-6.54 24.53 6.43.01 13.38-2.13 20.22-7.69z"
      />
      <path class="cls-12" d="M202.62 16.84c-8.1-6.4-14.16-11.95-13.68-16.84-6.34 8.85-7.76 16.12-6.54 24.53 6.43.01 13.38-2.13 20.22-7.69z"
      />
      <path class="sclera" d="M176.55 50.29a10.37 10.37 0 0 1-4.47 3.2c-4.35 1.66-9.57 2-13.74-.32a10.32 10.32 0 0 1-5.26-10.24c.71-4.4 5.56-7.63 9.72-8.4a14.61 14.61 0 0 1 12.26 3.76c4.09 3.55 4.24 8.53 1.49 12z"
      />
      <path class="pupil" d="M162.05 44.81c0 1.76 3.27 1.89 4.44 1.75s2.39-.81 2.46-1.93a2.09 2.09 0 0 0-1.67-2c-1.38-.34-5.28.13-5.23 2.18z"
      />
      <path class="cls-10" d="M167.76 152.87S151.89 181 148.08 178s14.53-43 14.36-61.17 9-43.32 26-53.14 28.19 16.63 20.12 46.68-27.45 54.09-30.08 53.39 8.68-20.68 8.68-20.68-24.08 34.28-27.32 33.41 7.92-23.62 7.92-23.62z"
      />
      <path class="cls-6" d="M197.81 182.38l1.15 8.88 3.23 9.74" />
      <path class="cls-6" d="M192.2 201l6.76-9.74 11.11 5.96" />
      <path class="cls-5" d="M241 176.71a14.7 14.7 0 0 0 5.22-2.44c2.55-1.86 3.26-3.75 4.31-5.64.59-1.09 1.55-2.69 2.61-3.16a7.94 7.94 0 0 0-4.24 2.53 5.68 5.68 0 0 1 2-2.31 7.78 7.78 0 0 0-5.43 4.9c-.52-.34-.06-1.21.57-1.73a4.22 4.22 0 0 0-2.18 2.5 11.45 11.45 0 0 1-5.06 6.14 15.08 15.08 0 0 0 2.2-.79zm-.17-26.37a14.7 14.7 0 0 0 3.63-4.47c1.49-2.79 1.3-4.79 1.42-7 .05-1.24.22-3.1 1-4a7.94 7.94 0 0 0-2.75 4.15 5.68 5.68 0 0 1 .79-3 7.78 7.78 0 0 0-2.75 6.77c-.61-.08-.58-1.06-.24-1.81a4.22 4.22 0 0 0-.87 3.2 11.45 11.45 0 0 1-1.87 7.73 15.08 15.08 0 0 0 1.64-1.57zm-37.67 70.56c1.66-4 4.9-4.89 6.71-7.25 1.82-2.18 2.13-5.31 1.77-8.12-.49-3.78-1.31-6.19-1.5-9.45-.27-4.55 3.16-7.16 6-10.06 2.47-2.55 5.57-6.84 4-10.12 2.7 4.17 2.7 8.46-.41 12.41-2.22 2.82-5.11 4.17-5 8.09a6.83 6.83 0 0 0 1.73 4.51c-.07-2.46-.54-7.74 4-9-4.6 2.69-1.84 10.16-1.88 14.33-.15 4.63-2.92 8.15-8.31 10.05-2.48.9-5.83 1.52-7.11 4.61zm53.53-91.64c1.92-3.88 5.22-4.56 7.18-6.78 2-2.05 2.48-5.15 2.31-8-.23-3.8-.89-6.26-.87-9.53 0-4.55 3.62-6.93 6.62-9.65 2.63-2.38 6-6.46 4.68-9.83 2.41 4.34 2.14 8.62-1.23 12.35-2.41 2.67-5.37 3.83-5.55 7.74a6.83 6.83 0 0 0 1.42 4.62c.09-2.46 0-7.76 4.59-8.68-4.77 2.37-2.51 10-2.83 14.18-.46 4.61-3.46 7.94-9 9.48-2.45.71-5.83 1.1-7.32 4.1zm-6.6-73.9c2.21-3.73 5.55-4.14 7.68-6.21 2.12-1.9 2.87-4.95 2.91-7.79.06-3.81-.41-6.31-.14-9.57.38-4.54 4.15-6.64 7.34-9.11 2.81-2.18 6.49-6 5.42-9.44 2.07 4.52 1.47 8.76-2.18 12.22-2.6 2.47-5.65 3.4-6.13 7.29a6.83 6.83 0 0 0 1.06 4.71c.28-2.44.57-7.74 5.25-8.3-4.94 2-3.27 9.8-3.91 13.92-.82 4.56-4.06 7.65-9.66 8.76-2.52.51-5.93.64-7.64 3.52z"
      />
      <rect class="cls-13" y="28.33" width="77.58" height="31.96" rx="12" ry="12" />
      <rect class="cls-13" x="14.92" y="8.32" width="48.73" height="30.29" rx="12" ry="12" />
      <rect class="cls-13" x="276.68" y="146.05" width="77.58" height="31.96" rx="12" ry="12" />
      <rect class="cls-13" x="291.6" y="126.03" width="48.73" height="30.29" rx="12" ry="12" />
    </svg>
    <div class='textbox'>
      <svg id="forwird" data-name="forwird" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 442.4 158.95">
        <defs>
          <style>
            .feather {
              fill: #ffff82
            }

            .text {
              fill: #273043
            }
          </style>
        </defs>
        <title>forwird</title>
        <path class="feather" d="M311.28 90.45c.5 23.39-12.77 64.57-13.71 67.23.38-17.77.23-38-18.21-64.68-4-5.8-8.68-14-6.79-27.18.59 6.93 4.44 14.27 9.29 12.34-2.72-2.41-19.7-28.91-7.79-61.22-1.12 7.19 2.42 16.78 6.41 25A67 67 0 0 1 283.61 0c-1.88 9.65 4.58 24 9.29 33.35 8.11 16.48 17.79 30.45 18.37 57.1"
        />
        <path class="text" d="M297.53 145c0 3 .1 9.87.06 12.7.51-1.49 2.51-8.12 3.67-12z" />
        <ellipse class="text" cx="297.86" cy="156.97" rx="1.02" ry="1.04" transform="rotate(-79.89 297.87 156.97)" />
        <path class="text" d="M19.9 152.85c2 0 7.1-.3 7.1-.3l.2.4-.9 4.7s-9.5-.4-14.9-.4a74.94 74.94 0 0 0-11.4 1.2l.6-4.6c6.2-1.2 7.8-3 7.8-8.6l.1-42c0-4.3-.7-5.4-3.7-5.4-1.2 0-3.4.2-3.4.2l-.2-.4.7-4.4s7.9.3 13.9.3c13.7 0 21.8-.3 28.1-1.2l.3.6a125.65 125.65 0 0 0-2.3 16.9l-4.8.4s.2-3.2.2-4.6c0-6.5-1.2-7.1-13.4-7.1-6.5 0-6.9.2-7 3.9l-.8 21.1 10.3.1c3.1 0 10.5-1.1 10.5-1.1l.4.5-1.4 6s-7.6-.3-12.3-.3a47.23 47.23 0 0 0-7.7.7L15.5 146c0 5.45.9 6.85 4.4 6.85zm29.5-25.3c0-19.8 14.4-35.2 32.9-35.2 16.7 0 28.3 12.6 28.3 30.8 0 19.9-14.6 35.3-33.5 35.3-16.4 0-27.7-12.6-27.7-30.9zm52.3-.2c0-17.1-9.3-29-22.8-29-12.4 0-20.9 10.6-20.9 26 0 17.1 9.1 29 22.2 29 12.7 0 21.5-10.6 21.5-26zm34.5 2.6l-.3 14.9c0 7.2.8 8.2 7.2 8.2l.2.4-.9 4.2c0-.1-5.9-.2-10.6-.3-5-.1-11.5.3-11.5.3l.9-4.5c6.2-.7 7.6-2.1 7.6-7.9l.1-42c0-4.3-.8-5.4-3.7-5.4-1.2 0-3.4.2-3.4.2l-.2-.4.7-4.4s7.3.3 11.1.3c3.4 0 12.3-.4 12.3-.4 12.4 0 20.1 6 20.1 15.7 0 8-5.4 15-14.7 19.2l11 17.4c3.9 6.3 7 8.5 12.4 8.5l.4.4-.6 3.4-8.5 1.1c-3.3 0-7.4-3.7-10.6-9.5l-10.7-19.4h-8.3zm10.5-4.6s10.8-2.9 10.8-14.7q0-13.2-18.3-13.2c-1.4 0-1.7.5-1.8 2.3-.6 10.6-.9 17.6-1 24.6zm87.8 33.6s-5.7-20.5-12.5-42.4h-.6l-14.2 40.2-6.4 2.2s-8.3-29.3-16.7-55.3c-1.2-3.8-4-5.6-9-5.7 0-.1-.1-.3-.1-.4l.6-4.3s8 .3 11.3.3a113.93 113.93 0 0 0 14.5-1.1l.3.7-.4 3.85c-6.8.5-8.6 1.3-8.6 4.1 0 3.9 12.3 46.4 12.3 46.4h.6l14.1-38.4-1.8-5.5c-1.3-4-4.1-5.5-9-5.7l-.2-.4.7-4.3s8 .3 11.3.3a140.67 140.67 0 0 0 14.5-1.1l.3.7-.4 3.9c-6.9.5-8.7 1.3-8.7 4.2 0 3.3 12.4 46.3 12.4 46.3h.6c5-13.5 16.2-43.5 16.2-46.5 0-2.5-2-3.5-6.8-3.5h-5l-.2-.4.7-4.3s7.5.7 13.9.7c4.6 0 10.6-.3 10.6-.3l-.7 4.7c-3.9.2-5 .9-6.4 4.8l-21 54zm102.1-29l-.3 14.9c0 7.2.8 8.2 7.2 8.2l.2.4-.9 4.2c0-.1-5.9-.2-10.6-.3-5-.1-11.5.3-11.5.3l.9-4.5c6.2-.7 7.6-2.1 7.6-7.9l.1-42c0-4.3-.8-5.4-3.7-5.4-1.2 0-3.4.2-3.4.2l-.2-.4.7-4.4s7.3.3 11.1.3c3.4 0 12.3-.4 12.3-.4 12.4 0 20.1 6 20.1 15.7 0 8-5.4 15-14.7 19.2l11 17.4c3.9 6.3 7 8.5 12.4 8.5l.4.4-.6 3.4-8.5 1.1c-3.3 0-7.4-3.7-10.6-9.5l-10.7-19.4h-8.3zm10.5-4.6s10.8-2.9 10.8-14.7q0-13.2-18.3-13.2c-1.4 0-1.7.5-1.8 2.3-.6 10.6-.9 17.6-1 24.6zm46.3 31.9a77.05 77.05 0 0 0-11.5 1.2l.6-4.6c6.2-1.2 7.8-3 7.8-8.6l.1-42c0-4.3-.7-5.4-3.7-5.4-1.2 0-3.4.2-3.4.2l-.2-.4.7-4.4s6.7.3 10.5.3c4.6 0 15.2-.4 15.2-.4 19.5 0 32.9 12.1 32.9 29.9 0 19.9-15.2 35.4-34.6 35.4 0 0-9.3-1.2-14.4-1.2zm5.6-57c-.9 23.1-1.5 39.4-1.5 43.9 0 7.3 2.5 9.2 12.6 9.2 14.4 0 23.2-10.6 23.2-27.9 0-17.6-11-27.4-30.7-27.4-2.8-.05-3.5.39-3.6 2.19z"
        />
      </svg>
      <h2>Where the wannabes workshop.</h2>
      <p>We will be launching soon. If you are interested in updates, enter an email below, and we will be sure to keep you
        in the loop!
      </p>
      <form action='/subscribe' method='POST' autocomplete="off">
        <input type='email' name='email' placeholder="your email" />
        <button type='submit'>Notify Me</button>
      </form>
    </div>
  </main>
  <footer>
    <h6>© Forwird, 2018</h6>
  </footer>
</body>

</html>